.calendar-month-view {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekdays-row {
  display: contents; /* makes the children of this div to respect the parent grid */
}

.weekday {
  background-color: #f7f7f7;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.calendar-day {
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid #e0e0e0;
  min-height: 120px;
}

.calendar-day.inactive {
  background-color: #f7f7f7;
  border: none;
  cursor: none;
}